.button {
  background-color: purple;
  max-width: var(--button-size);
  max-height: var(--button-size);
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.button.red {
  background-color: red;
  grid-area: redBtn;
  border-top-right-radius: 50%;
}
.button.green {
  background-color: green;
  grid-area: greenBtn;
  border-top-left-radius: 50%;
}
.button.yellow {
  background-color: yellow;
  grid-area: yellowBtn;
  border-bottom-left-radius: 50%;
}
.button.blue {
  background-color: blue;
  grid-area: blueBtn;
  border-bottom-right-radius: 50%;
}

.button.red:active {
  background-color: pink;
}

.button.green:active {
  background-color: lightgreen;
}

.button.yellow:active {
  background-color: orange;
}

.button.blue:active {
  background-color: lightblue;
}
