:root {
  --button-size: 250px;
  --button-space: 10px;
  --boardLength: calc((var(--button-size) * 2) + var(--button-space));
  --controlLength: calc(var(--button-size) * 0.75);
  --scoreWidth: calc(var(--controlLength) / 2);
  --controlButtonLength: 50px;
}

#gameboard {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#button-group {
  width: var(--boardLength);
  height: var(--boardLength);
  padding: var(--button-space);
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(2, var(--button-size));
  grid-template-rows: repeat(2, var(--button-size));
  grid-template-areas:
    "greenBtn redBtn"
    "yellowBtn blueBtn";
  column-gap: var(--button-space);
  row-gap: var(--button-space);
  border-radius: 25%;
}

#simon-game {
  margin: auto;
  width: calc(var(--boardLength) + 20px);
  position: relative;
}

#gameOverPrompt {
  height: calc(var(--font-size) * 2);
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 600;
  width: 100%;
  max-width: var(--button-size);
  text-align: center;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px red solid;
  color: red;
}

#gameOverPrompt.hide {
  visibility: hidden;
}
