:root {
  --button-size: 250px;
  --button-space: 10px;
  --boardLength: calc((var(--button-size) * 2) + var(--button-space));
  --controlLength: calc(var(--button-size) * 0.75);
  --scoreWidth: calc(var(--controlLength) / 2);
  --controlButtonLength: 50px;
}

.button {
  background-color: purple;
  max-width: var(--button-size);
  max-height: var(--button-size);
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.button.red {
  background-color: red;
  grid-area: redBtn;
  border-top-right-radius: 50%;
}
.button.green {
  background-color: green;
  grid-area: greenBtn;
  border-top-left-radius: 50%;
}
.button.yellow {
  background-color: yellow;
  grid-area: yellowBtn;
  border-bottom-left-radius: 50%;
}
.button.blue {
  background-color: blue;
  grid-area: blueBtn;
  border-bottom-right-radius: 50%;
}

.button.red:active {
  background-color: pink;
}

.button.green:active {
  background-color: lightgreen;
}

.button.yellow:active {
  background-color: orange;
}

.button.blue:active {
  background-color: lightblue;
}

#gameboard {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#button-group {
  width: var(--boardLength);
  height: var(--boardLength);
  padding: var(--button-space);
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(2, var(--button-size));
  grid-template-rows: repeat(2, var(--button-size));
  grid-template-areas:
    "greenBtn redBtn"
    "yellowBtn blueBtn";
  column-gap: var(--button-space);
  row-gap: var(--button-space);
  border-radius: 25%;
}

#simon-game {
  margin: auto;
  width: calc(var(--boardLength) + 20px);
  position: relative;
}

#game-controls {
  background-color: gray;
  width: var(--controlLength);
  height: var(--controlLength);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top: calc(50% - (var(--controlLength) / 2));
  left: calc(50% - (var(--controlLength) / 2));
}

#game-controls > * {
  margin-top: 10px;
}
#game-controls > *:first-child {
  margin-top: 0;
}

#start-stop {
  background-color: blue;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: var(--controlButtonLength);
  height: var(--controlButtonLength);
}
#start-stop:active {
  background-color: pink;
}

#score {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 5px;
  max-width: var(--scoreWidth);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "label score";
  border-radius: 25%;
}

#score > div {
  display: inline-block;
}
#score .control-label {
  grid-area: label;
}
#score .control-group {
  text-align: right;
  grid-area: score;
  font-family: digital;
  color: yellow;
  font-size: 1.125rem;
}

.control-label {
  font-size: 1rem;
  font-weight: 600;
}

#difficulty {
  border: 1px solid white;
  text-align: center;
  font-size: 0.75rem;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 25%;
}

#difficulty .control-label {
  margin-bottom: 5px;
}

#difficulty .control-group ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#difficulty .control-group ul li {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

#difficulty .control-group ul li input {
  display: block;
  margin: auto;
}
